body{
    background-color:#E4F9F5;
    
    
    

}

.container {
    width:350px;
    height:540px;
    background-color: #FFFFFF;
    position:relative;
    border-radius:20px 20px;
    margin-top:166px;
    margin:auto;

    
    
    
    
    
}

.desktop-img {
    width:100px;
    height:100px;
    position:absolute;
    border-radius:10px 10px;
    margin:auto;
    top:20px;
    left:20px;
    right:20px;
    
    
}
.headings {
    position:absolute;
    margin-top: 320px;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    display:inline-block;
    
    
}

.paragraphs{
    position:absolute;
    margin-top:470px;
    text-align:center;
    margin-right:20px;
    margin-left:20px;
}
